.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgb(215, 1, 1, 0.4);
}
.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
.header {
  background: rgb(202, 17, 202);
  padding: 1rem;
}
.header h2 {
  margin: 0 auto;
  color: rgb(31, 26, 26);
}
.content {
  padding: 1rem;
  background: white;
  height: 100px;
}
.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: flex-end) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
